opencv-python
wikipedia
gitpython
python-dotenv
psutil
apscheduler
pillow
metno_locationforecast
pdf2image
youtube-dl
PyNaCl
yt-dlp
topggpy
captcha
IMDbPY
qrcode
numpy
Image
interruptingcow
discord.py
