wikipedia
gitpython
python-dotenv
psutil
apscheduler
pillow
metno_locationforecast
pdf2image
youtube-dl
PyNaCl
yt-dlp
topggpy
captcha
IMDbPY
qrcode
opencv-python
numpy==1.22.1
Image
interruptingcow
discord.py